/* http://chir.ag/projects/name-that-color/ */
$color-wild-watermelon: #ff6070;
$color-algae-green: #8edaaf;
$color-outer-space: #2e353f;
$color-texas: #F8F596;

/* aliases */
$color-bg: $color-outer-space;
$color-now: $color-wild-watermelon;
$color-focus: $color-texas;