/* http://chir.ag/projects/name-that-color/ */
$color-wild-watermelon: #ff6070;
$color-algae-green: #7CDEA7;
$color-outer-space: #2e353f;
$color-dawn: #a8a199;

$color-lighten:  rgba(255,255,255,0.05);

/* aliases */
$color-bg: $color-outer-space;
$color-now: $color-wild-watermelon;